@model Book

@{
	ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p><strong>@Model.Author</strong></p>
<div>
    @Html.Raw(Model.Description)
</div>
<style>
    p {
        margin-bottom: 16px;
    }

    ul {
        margin-bottom: 16px;
        padding-left: 20px;
    }

    li {
        margin-bottom: 8px;
    }
</style>
<p>Ціна <strong>@Model.Price</strong></p>

<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type="hidden" name="bookId" value="@Model.Id" />
    <button class="btn btn-outline-success" type="submit">В кошика</button>
</form>




