@model OrderModel

@{
    ViewData["Title"] = "Підтвердження мобільного";
}

<h1>Підтвердження мобільного</h1>

<p>
    Введіть <em>код підтвердження</em> з SMS.
</p>

<form action="@Url.Action("Confirmate", "Order")" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="confirmationCode">Код підтвердження</label>
        <input type="text" class="form-control" name="confirmationCode" placeholder="0000" />
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Перевірити</button>
</form>

<p>
    Якщо на ваш номер SMS не надійшло протягом хвилини, перевірте правильність введеного номера або повторіть відправку коду.
</p>

<form action="@Url.Action("SendConfirmation", "Order")" method="post">
    <div class="form-group">
        <label for="cellPhone">Мобільний телефон</label>
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone" />
    </div>

    <button type="submit" class="btn btn-warning">Повторити код</button>
</form>
