@model OrderModel

@{
    ViewData["Title"] = "Кошик";
}

<h1>Кошик</h1>

@if (Model?.Items != null && Model.Items.Length > 0)
{
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Автор</th>
                <th scope="col">Назва</th>
                <th scope="col">Кількість</th>
                <th scope="col">Ціна</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Length; i++)
            {
                <tr>
                    <td class="text-right">@(i + 1)</td>
                    <td>@Model.Items[i]?.Author</td>
                    <td>@Model.Items[i]?.Title</td>
                    <td class="text-right">
                        <form action="@Url.Action("UpdateItem", "Order")" method="post" style="display:inline;">
                            <input type="hidden" name="bookId" value="@Model.Items[i].BookId" />
                            <input type="hidden" name="change" value="-1" />
                            <button class="btn btn-sm btn-secondary" type="submit">-</button>
                        </form>
                        @Model.Items[i]?.Count
                        <form action="@Url.Action("UpdateItem", "Order")" method="post" style="display:inline;">
                            <input type="hidden" name="bookId" value="@Model.Items[i].BookId" />
                            <input type="hidden" name="change" value="1" />
                            <button class="btn btn-sm btn-secondary" type="submit">+</button>
                        </form>
                    </td>
                    <td class="text-right">@Model.Items[i]?.Price</td>
                    <td class="text-center">
                        <form action="@Url.Action("RemoveItem", "Order")" method="post">
                            <input type="hidden" name="bookId" value="@Model.Items[i].BookId" />
                            <button class="btn btn-danger" type="submit">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Разом</td>
                <td class="text-right">@Model.TotalCount</td>
                <td class="text-right">@Model.TotalPrice</td>
            </tr>
        </tfoot>
    </table>

    <form action="@Url.Action("SendConfirmationCode")" method="post">
        <input type="hidden" name="id" value="@Model.Id" />

        <div class="form-group">
            <label for="cellPhone">Мобільний телефон</label>
            <input type="text" class="form-control" name="cellPhone" value="" />

            @if (Model.Errors.ContainsKey("cellPhone"))
            {
                <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
            }
        </div>

        <button type="submit" class="btn btn-success">Надіслати код</button>
    </form>
}
else
{
    <p>Кошик пустий</p>
}

